.header{
    background-color: $headerBg;
    width: 100%;
    .up-menu{
        display: flex;
        color: $upMenuColor;
        justify-content: flex-end;
        width: 80%;
        margin: 0 auto;

        ul{
            list-style: none;
            display: flex;
            li{
                padding: $spazio10;
                i{
                    color: $iconColor;
                    padding: 3px;
                }
            }
        }
    }

    .navbar{
        color: $whiteText;
        width: 80%;
        margin: 0 auto;
        padding: $spazio10;
        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: $listaul;
            li{
                a{
                    @include link;
                }
            }
        }
    }
}
