.primaFascia{
    background-image: url(https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    width: 90%;
}
.sectOne{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    // primo jumbotron
    .jumbotron1{
        color: $whiteText;
        width: 40%;
        // background-color: red;
        padding: $spazio20;
        h2, h3, div{
            padding: $spazio10;
        }

        ul{
            padding: $spazio10;
            list-style: $listaul;
            li{
                padding: $spazio10;
            }
        }

        .downloadTrial{
            @include downloadTrialButton;
            display: flex;
            align-items: center;
            div{
                p, i{
                    padding: 3px;
                }
            }
        }
    }

    .jumbotron2{
        width: 30%;
        color: $whiteText;
        padding: $spazio30;
        background-color: rgba(0, 0, 0, 0.9);
        position: relative;
        img{
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .priceBar{
            .prezzo{
                font-size: 30px;
            }
            .d1{
                color: #999999;
            }

            .buyButton{
                margin: 20px 0;
                .buyNowButton{
                    @include buyNowButton;
                }
            }

            .limitedOffer{
                @include limitedOfferPanel;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

.secondaFascia{
    background-color: #e6e6e6;
    width: 100%;
}

.secondNavBar{
    width: 80%;
    margin: 0 auto;
    padding: $spazio20;
    ul{
        display: flex;
        justify-content: space-between;
        list-style: $listaul;

        li a{
            @include link;
            color: #000;
        }
    }
}
